.galleryevents
{ 
    background-color: #120F10;
    height: 100%;
    width: 100%;
}

.galleryeventscontent
{
    display: flex;
}

.content
{
    display: flex;
}

.gallery{
    margin-left: 50px;
    margin-top:35px;
  }

.photos1{
    display:flex;
    margin-bottom: 50px;
}

  
.img{
    margin:10px 15px 7.5px 0px;
  
}