.clubevents {
  background-color: #120F10; /* Default background color */
  height: 100%;
  margin-top: 80px; 
  margin-left: 250px; 
  width: calc(100% - 250px);
}

.clubeventscontent {
  display: flex;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.sidebar {
  position: fixed;
  top: 80px; 
  left: 0;
  width: 250px;
  height: calc(100vh - 80px); 
  background-color: #000;
}

.mainContent {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%; 
}

.eventsContainer {
  display: flex; /* Arrange performances and SubClub side by side */
  justify-content: space-between; /* Space between performances and SubClub */
  align-items: flex-start; /* Align items at the top */
  flex-direction: column; /* Stack items vertically */
  gap: 20px;
}

.performance {
  width: calc(100% - 300px); /* Adjust width to allow for SubClub */
  max-width: 1000px; 
  margin: 20px; /* Space between performances */
  position: relative;
  display: flex; /* Ensure individual events can layout their contents */
  flex-direction: column; /* Stack contents vertically */
  width: 100%; /* Make sure they take the full width */
  border: 1px solid #ccc; /* Optional: border for visibility */
  padding: 10px; /* Optional: padding for better spacing */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: shadow for depth */
}

.bandimg {
  position: relative; 
  width: 100%; 
  height: 500px; /* Set a fixed height for images */
  display: flex; /* Keep it flexible for image and text */
  flex-direction: column; /* Stack image and text vertically */
  align-items: center;
}

.eventImage {
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
}

.eventDetails {
  text-align: center;
  margin-top: 15px;
}

.eventDetails h1 {
  font-size: 36px;
  margin: 5px 0;
  color: #FF70A2;
}

.eventDetails h2 {
  font-size: 24px;
  margin: 0;
  color: #FF70A2;
}
.participate {
  display: flex;
  margin-top: 20px; 
  text-align: center;
}

.pink1,
.pink2 {
  background-image: url("../assets/pink1.png");
  background-size: cover; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  height: 53px; 
  color: white; 
}

.pink1 {
  width: 150px;
  margin-right: 20px; 
}

.pink2 {
  width: 200px;
}

a:link {
  color: white;
  text-decoration: none;
}

.noEventsMessage {
  color: #FF70A2; 
  text-align: center; 
  margin-top: 20px; 
}

.subClubContainer {
  margin-left: 260px; /* Add margin to separate from events */
  width: 300px; /* Adjust width based on design */
}

.btn
{
    background-color: black;
    color: white;
    width: 150px;
    height: 50px;
    border-radius: 25px;
}

.btn1
{
    background-color: #FF4081;
    margin-right: 10px;
}
.contact
{
   display: block;
   margin: 0 auto;
}
.flexing
{
  display: flex;
}