.Clubcontent {
    display: flex;
    height: 100%;
    background-color: black;
}
.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.sidebar {
    position: fixed;
    top: 80px; 
    left: 0;
    width: 290px;
    height: calc(100vh - 80px); 
    background-color: #000;
    overflow: hidden;
}

.clubapp {
    background-color: #121212; /* A slightly lighter black to differentiate */
    height: 100%;
    margin-top: 80px; 
    margin-left: 290px; 
    width: calc(100% - 290px);
}

.content {
    display: flex;
    flex-grow: 1;
    flex-direction: column; /* Ensure vertical stacking */
    padding: 20px; /* Add padding */
}

.flexing {
    display: flex;
    margin-top: 20px;
}

.participant {
    background-color: #232323; /* Slightly lighter than black for clarity */
    padding: 20px;
    height: auto;
    width: 850px;
    margin-left: 50px;
    border-radius: 5%;
    margin-bottom: 20px; /* Ensure space between participants */
    justify-content: space-between;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); /* Add a shadow for better distinction */
}

.name {
    display: flex;
    color: white;
    flex-direction: column;
}

.sk {
    color: #FF4081;
}

.res {
    display: flex;
}

.pdf {
    color: white;
    margin-top: 6px;
}

.pink1 {
    background-image: url("../assets/pink1.png");
    background-size: 100% 100%;
    width: 185px;
    height: 45px;
    margin-left: 250px;
    align-items: center;
}