.settingsPage{
  background-color: black;
  height:100%;
}
.profileSettings{
  color: #FFF;
  font-family: Montserrat;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 66.6px; /* 166.5% */
  letter-spacing: -1.235px;
  margin-bottom:30px;
  margin-top:20px;
  margin-left:50px;
}

.name{
  color: #FF4081;
  font-family: Montserrat;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-left:50px;
}
.drummer{
  color:white;
  padding-top:15px;
  padding-left:30px;
  color: #FFF;
  font-family: "Arial";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.skills{
  display:flex;
}

.singer {
  background-color: #333;
  color: white;
}

.lightTheme .singer {
  background-color: #ddd;
  color: black;
}

.singer{
  background-image: url("../assets/pink1.png");
  background-size: 100% 100%;
  max-width: fit-content;
  min-width: 80px;
  height:45px;
  margin-left:50px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  margin-bottom: 25px;
  margin-top:10px;
  border-radius: 100px;
}
.singertext{
  font-family: "Arial";
  font-size:20px;
  margin-top:5px;
  margin-left:20px;
  margin-right: 10px;
}
.skillsform{
  display:flex;
}
.nameform2{
  border-radius: 17.702px;
  border: 2.213px solid #FF4081;
  background: rgba(0, 0, 0, 0.38);
  width: 250px;
  height: 60px;
  flex-shrink: 0;
  margin-bottom:25px;
  margin-left:50px;
  margin-top:10px;
}
.image{
  margin-top:10px;
  margin-left:5px;
}

.text1
{
    font-size: 20px;
    color: #FF4081;
    margin-left: 50px;
    margin-top: 20px;
}

.text2
{
    margin-left: 55px;
    color: rgba(255,255,255);
    background-color: #120F10;
    width: 900px; 
    margin-bottom: 10px;
    padding-left: 10px;
    height: 125px;    
    border: 2px solid #FF4081;  
    box-sizing: border-box; 
}

.resume
{
   display: flex;   
}

.resumeform{
  display:flex;
}
.resumetext{
  color:white;
  margin-top:10px;
  margin-left:20px;
}
.img2{
  background-image: url("../assets/circle.svg");
  width:35px;
  height:35px;
  background-size:cover;
  margin-left:10px;
  margin-top:15px;
}
.resumeedit{
  color: #FF4081;
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-left: 30px;
  margin-top:15px;
}

.btn
{
    background-color: black;
    color: white;
    width: 125px;
    height: 45px;
    border-radius: 10px;
}

.btn1
{
    background-color: #FF4081;
    margin-right: 10px;
    margin-left: 50px;
    margin-bottom: 10px;
    margin-top: 30px;
}

.removeButton {
  background-color: #007bff; /* Use the same color as the Save button */
  color: white; /* Text color */
  border: none; /* Remove default border */
  border-radius: 5px; /* Rounded corners */
  padding: 5px 10px; /* Padding for button */
  cursor: pointer; /* Cursor change on hover */
  transition: background-color 0.3s ease;
  margin-top: 10px;/* Smooth background color change */
}

.mute{
  color:white;
  margin-left:50px;
  font-size:20px;
  margin-top:5px;
}
.circleimg{
  margin-left:10px;
  margin-top:5px;
}
.circleimg2{
  background-image: url("../assets/circle.svg");
  width:35px;
  height:35px;
  background-size: cover;
  margin-left:10px;
  margin-top:5px;
}
.nameform3{
  border-radius: 17.702px;
  border: 2.213px solid #FF4081;
  background: rgba(0, 0, 0, 0.38);
  width: 114px;
  height: 96px;
  flex-shrink: 0;
  margin-bottom:25px;
  margin-left:70px;
  margin-top:10px;
}
.themes{
  display:flex;
}
.light{
  margin-left:25px;
  margin-top:20px;
  margin-bottom:20px;
}
.nameform4{
  border-radius: 17.702px;
  border: 2.213px solid black;
  border: 1px solid rgba(255, 255, 255, 0.25);
  width: 114px;
  height: 96px;
  flex-shrink: 0;
  margin-bottom:25px;
  margin-left:50px;
  margin-top:10px;
}
.lighttext{
  font-size: 10px;
  color:white;
  margin-top:15px;
  margin-left:8px;
}
.darktext{
  color:#FF4081;
  margin-top:15px;
  margin-left:35px;
  font-size:10px;
  margin-bottom:10px;
}
.dark{
  margin-left:30px;
  margin-top:20px;

}
.singer2{
  background-image: url("../assets/pink1.png");
  background-size: 100% 100%;
  width:90px;
  height:30px;
  margin-left:50px;
  padding: 5px;
  margin-bottom: 25px;
  margin-top:10px;
  align-items:center;
}
.singertext2{
  font-family: "Arial";
  font-size:15px;
  margin-top:2px;
  margin-left:8px;
  margin-bottom: 20px;
}
.betalabs{
  margin-top:0px;
}
.form{
  display:flex;
}
.userform{
  margin-left:50px;
}
input[id=username]{
  width:900px;
  padding:12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #FF4081;
  border-radius: 17.702px;
  background-color: black;
  color:white;
}
