.searchpage{
  background-color: black;
  height:100%;
}
.page{
  display:flex;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.sidebar
{
  margin-top: 80px;
  top: 80px; 
  left: 0;
  width: 280px;
  height: calc(100vh - 80px); 
  color: white;
  overflow: hidden;
}

.box{
  border-radius: 20px;
  border: 2px solid #FF4081;
  background: rgba(255, 64, 129, 0.05);
  box-shadow: 0px 4px 10px 0px #000;
  backdrop-filter: blur(13.08519172668457px);
  margin-top:180px;
  width:500px;
  height:350px;
  margin-left:300px;
}
.Search{
  color: #FFF;
  font-family: Montserrat;
  font-size: 23px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  margin-top:30px;
  margin-left:170px;
}
.id{
  color: #FFF;
  font-family: "Open Sans";
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  margin-top:30px;
  margin-left:80px;
  line-height: normal;
}
.stuform{
  margin-left:80px;
  margin-right:200px;
  color: black;
}
input[id=college_id]{
  width:350px;
  padding:8px 20px;
  margin: 0 0;
  box-sizing: border-box;
  border-radius: 7.357px;
  border: 1.047px solid #BCBEC0;
  background: #FFF;
  color:white;
}

.proceed{
  margin-top:25px;
  margin-left:135px;
  display: flex;
  width: 230px;
  padding: 0 10px;
  color:white;
  justify-content: center;
  align-items: center;
  gap: 12.342px;
  border-radius: 10.65px;
  background: #FF4081;
}
.textproceed{
  margin-top:8px;
  margin-bottom:5px;
  margin-right: 10px;
  font-size:18px;
  color: #FFE7F8;
  text-align: center;
  font-family: Poppins;
}
